body {
    background: white;
    margin-top: 10%;
    position: relative;
    transition: background-color 3s;
}

#p {
    font-family:'Open Sans';
    color:black;
    text-align: center;
    padding: 4px;
    margin: auto;
    width: 100%;
    font-size: 60px;
    transition: color 2s;
}

#grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 50px;
    grid-gap: 10px 10px;
  }

.grid-item1 {
    grid-column-start: 2; 
}

.grid-item2 {
    grid-area: 2 / 1 / 2 / 1; 
}

.grid-item3 {
    grid-area: 2 / 3 / 2 / 3; 
}

.grid-item4 {
    grid-area: 3 / 2 / 3 / 2; 
}

.grid-item5 {
    grid-area: 2 / 2 / 2 / 2; 
}

.buttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
    text-indent:0;
	border:2px solid #4b4b4b;
	display:inline-block;
	color:#4b4b4b;
	font-family:'Open Sans';
	font-size:30px;
	font-weight:lighter;
	font-style:normal;
    height:50px;
    width:140px;
	text-decoration:none;
	text-align:center;
    text-shadow:0px 1px 0px #ffffff;
    box-shadow: inset 0px 1px 0px white, 0px 6px 0px rgb(46, 46, 46);
    position: relative;
}

.buttons:hover {
    background-color:#dddddd;
}
.buttons::before {
    top:5px;
    position:absolute;
    left:-2px;
    z-index:-1;
    box-shadow: 0px 1px 0px #fff;
}

.buttons:active::before {
	top:-2px;
}
.buttons:active {
    top:7px;
    box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px rgb(46, 46, 46);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.302);
}

#reset {
    width: 140px;
    height:50px;
    margin-top: 5px;
    background-color: white;
    border: 0px;
    color: #4b4b4b;
    transition: background-color 3s, color 3s;
}

#reset:hover {
    color:#c2c2c2!important;
}

.buttons:focus {
    outline:0;
}

#reset:focus {
    outline:0;
}