* {
    font-family: 'Open Sans', 'Arial';
    text-align: center;
}

ol {
    list-style-position:inside;
    position: relative;
    left: -35px;
    font-size: 20px;
    margin: 5px;
}

li {
    text-align: left;
}
header > h1 {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    font-weight: lighter;
}

body {
    margin: 0px;
    background-color: #B5D99C;
}

#todo {
    margin-top: 10%;
}

#todoinput {
    width: 200px;
    height: 30px;
    border-bottom: 2.5px solid black;
    background-color: #B5D99C;
    transition: all 0.3s ease;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    caret-color: white;
    font-size: 20px;
    color: white;
}


#todoinput:focus {
    width: 200px;
    height: 30px;
    border-bottom: 2.5px solid white;
    outline: none;
    width: 20%;
}


#todoinput::placeholder {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.76);
}

#todopoints {
    border: 3px solid white;
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3 {
    margin: 3px;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: relative;
    top: 5px;
}

#line1 {
    flex-direction: row;
    display: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

#line2 {
    flex-direction: row;
    display: none;
    margin-bottom: 5px;
}

#line3 {
    flex-direction: row;
    display: none;
    margin-bottom: 5px;
}
#line4 {
    flex-direction: row;
    display: none;
    margin-bottom: 5px;
}
#line5 {
    flex-direction: row;
    display: none;
    margin-bottom: 5px;
}

.donebutton {
    margin-left: 20px;
    position: relative;
    padding: 2px 6px;
    border: 0.1em solid white;
    border-radius: 0.12em;
    box-sizing: border-box;
    font-weight: 300;
    color: white;
    text-align: center;
    transition: all 0.2s;
    background-color: #B5D99C;
    outline: none;
    font-size: 15px;
}

.donebutton:hover {
    background-color:white;
    color: #B5D99C;
    cursor: pointer;
}


